<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<th:block
	th:replace="~{/layout/layoutV1 :: setContent(~{this :: content})}">
	<th:block th:fragment="content">
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<h1 class="mt-4">게시글 상세</h1>
				<hr>
				<div class="form-group">
					<label>게시글 번호</label>
					<input th:value="${article.articleId}" type="text" class="form-control" value="100" readonly>
				</div>
				<div class="form-group">
					<label>제목</label>
					<input th:value="${article.subject}" type="text" class="form-control" value="게시글 제목입니다.." readonly>
				</div>
				<div class="form-group">
					<label>내용</label>
					<textarea th:text="${article.content}" class="form-control" rows="5" readonly>게시글 내용입니다.</textarea>
				</div>
				<div class="form-group">
					<label>작성자</label>
					<input th:value="${article.writer}" type="text" class="form-control" name="writer" value="홍길동" readonly>
				</div>
				<div class="form-group">
					<label>등록일자</label>
					<input th:value="${article.regdate}" type="text" class="form-control" name="regDate" value="2023-05-05" readonly>
				</div>
				<div class="d-flex justify-content-between">
					<div>
						<a th:href="@{/article/{id}/change/{articleId}(id=${board.boardId}, articleId=${article.articleId})}" href="#">
							<button th:attr="disabled=${session.loginMember == null} ? 'true' : 'false'" type="button" class="btn btn-primary" style="margin-right: 10px !important;">수정 또는 삭제</button>
						</a>
						<a th:href="@{/board/{id}(id=${board.boardId})}" href="#">
							<button type="button" class="btn btn-info">목록</button>
						</a>
					</div>
					<div>
						<a th:href="@{/article/{id}/reply/{articleId}(id=${board.boardId}, articleId=${article.articleId})}" href="#" class="btn btn-warning">답글 작성</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</th:block>
</th:block>
</html>